<!DOCTYPE html>
<html>
<head>
<title>清新小博客</title>
	<meta http-equiv=Content-Type content="text/html; charset=utf-8">
	<link rel="stylesheet" href="__STYLE__/index.css" type="text/css" />
</head>
<body>
	<!-- -----------------------------头部------------------------------------------- -->
	<div class="header-top">
		<span class="logo"><img class="logo1" src="__IMG__/logo.png"></span><div class="cate" align="center"><span class="index" >首页</span><span class="theme">主题</span><span class="essays">随笔</span><span class="article">文章</span><span class="tutorial">教程</span></div>
	</div>
	<!-- -----------------------------头部------------------------------------------- -->
	<div class="Sliding">
		<div class="Sliding-picture">Sliding-picture</div>
		<div class="Introduce">
			<div class="Introduce-picture1">Introduce-picture1</div>
			<div class="Introduce-picture2">Introduce-picture2</div>
			<div class="Introduce-picture3">Introduce-picture3</div>
		</div>
	</div>
	<!-- -----------------------------左部------------------------------------------- -->
	<div class="left">
		<div class="now-time"><p>time</p></div>
		<div class="left-picture">图片</div>
		<div class="left-list">
			<p class="list-directory">分类目录</p>
			<div class="list-classification">
				<ul>
					<li>主题</li>
					<li>随笔</li>
					<li>文章</li>
					<li>教程</li>
				</ul>
				</ul>
			</div>
		</div>
		<div class="good-recommended">
			<p class="recommended-title">热门推荐</p>
			<div class="recommended-content">
				<div class="recommended-content">
					<div class="recommended-content1">
						<div class="recommended-picture1">picture1</div>
						<div class="recommended-desc1">desc1</div>
					</div>
					<div class="recommended-content1">
						<div class="recommended-picture2">picture2</div>
						<div class="recommended-desc2">desc2</div>
					</div>
					<div class="recommended-content3">
						<div class="recommended-picture3">picture3</div>
						<div class="recommended-desc3">desc3</div>
					</div>
					<div class="recommended-content4">
						<div class="recommended-picture4">picture4</div>
						<div class="recommended-desc4">desc4</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- -----------------------------左部------------------------------------------- -->

	<div class="good-article">
		<p class="article-font">精彩文章</p>
		<div class="article-content">
			<div class="article-content1">
				<div class="content1-picture">content1-picture</div>
				<div class="content1-cate">content1-cate</div>
				<div class="content1-title">content1-title</div>
				<div class="content1-desc">content1-desc</div>
				<div class="content1-time">content1-time</div>
			</div>
			<div class="article-content2">
				<div class="content2-picture">content2-picture</div>
				<div class="content2-cate">content2-cate</div>
				<div class="content2-title">content2-title</div>
				<div class="content2-desc">content2-desc</div>
				<div class="content2-time">content2-time</div>
			</div>
			<div class="article-content3">
				<div class="content3-picture">content3-picture</div>
				<div class="content3-cate">content3-cate</div>
				<div class="content3-title">content3-title</div>
				<div class="content3-desc">content3-desc</div>
				<div class="content3-time">content3-time</div>
			</div>
		</div>
	</div> 
<!-- -----------------------------左部------------------------------------------- -->
	<div class="footer">
		<a href="http://www.miibeian.gov.cn/" target="view_window">备案证号：京ICP备08010314号-6</a>
	</div>
<!-- -----------------------------左部------------------------------------------- -->
</body>
</html>